html, body {
  background-color: #e8e8e8;
  font-family: -apple-system, "Segoe UI", Roboto, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4 {
  padding: 0px;
  margin: 0px;
}
h1 {
  font-size: 2.5rem;
  margin: 5px;
}
h2 {
  font-size: 1.35rem;
  margin: 5px 0px;
}
h3 {
  font-size: 1.1rem;
  margin: 10px 0px;
}
h4 {
  font-size: 1rem;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.Header {
  margin: 5px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.capturedLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 15px 5px 5px;
  background-color: orangered;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.pokedexLogo {
  max-height: 6rem;
}

.pokeballLogo {
  max-height: 2rem;
  margin-right: 10px;
}

.CardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 1fr;
}

.Card {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding-bottom: 5px;
  box-shadow: 0px 2px 15px 2px #c4c4c4;
}

.cardLink {
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}

.cardInfo {
  text-align: left;
  margin: 10px;
  padding: 5px 10px 10px;
}

.types {
  color: #828282;
  font-weight: normal;
}

.portrait {
  margin: 15px;
  /* box-shadow: 0px 0px 5px 5px #fff4;
  border-radius: 50%; */
}

.DetailPage {
  border-radius: 10px;
  margin: 15px;
  background-color: #f0f0f0;
  padding-bottom: 15px;
  box-shadow: 0px 2px 15px 2px #d5d5d5;
}

.detailHeader {
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  color: white;
}

.aboutSection {
  border-radius: 5px;
  background-color: white;
  margin: 15px;
  padding: 5px;
}
.aboutSection h3 {
  text-decoration: underline;
}

.captureButton {
  background-color: orange;
  border-radius: 5px;
  padding: 5px 35px;
  font-weight: bold;
  text-shadow: 0px -1px 1px red, 0px 1px 1px yellow;
  border-color: orangered;
}

.CapturePopup {
  background-color: red;
}

.captureOpenButton {
  background-color: orangered;
  width: 50%;
  padding: 10px 5px;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 25px;
}

.captureForm {
  width: 90%;
}
.captureForm h2 {
  text-align: center;
}
.captureForm div {
  width: 100%;
  margin: 10px 0px;
}

.overlay-base {
  padding: 1rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-after {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}
.content-base {
  position: relative;
  margin: 0 auto;
  border: 0;
  outline: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.content-base form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.content-base form input {
  width: 90%;
  line-height: 1.5rem;
  border-radius: 5px;
  padding: 0px 10px;
}
.content-base form label {
  color: #333;
}
.content-after {
  width: 30%;
  height: 40%;
  background-color: #f0f0f0;
  border-radius: 20px;
}

.CapturedCardContainer {
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 15px 2px #c4c4c4;
}

.capturedListHeader {
  background: #d5d5d5;
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}
.capturedListHeader div {
  width: 22%;
  text-align: left;
}
div.capturedInfoCell {
  width: 33%;
}
span.capturedLevelCell, 
div.capturedLevelCell {
  text-align: center;
}

.CapturedCard {
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
}
.CapturedCard div {
  width: 22%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

div.capturedPortraitCell {
  width: 33%;
  justify-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.capturedImgContainer {
  padding: 5px;
}
.capturedPortraitInfo {
  margin: 10px;
  padding: 10px;
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.capturedPortraitInfo div,
.capturedPortraitInfo h3 {
  width: 100%;
  margin: 0px;
  padding: 0px;
}



